extends layout 

block content 
    h1= title 

    form(method='POST', action='')
        div.form-group 
            label(for='username')
            input#username.form-control(type='text', placeholder='Username' name='username' required=true)
            label(for='password') 
            input#password.form-control(type="password", placeholder='Password' name='password' required=true)
        button.btn.btn-primary(type="submit") Login

    if errors 
        ul 
            for err in errors 
                li!=err.msg